.info-sidebar {
    -fx-background-color: -fx-theme-background;
    -fx-background-radius: 0.5em;
    -fx-padding: 1.5em 1.5em 1.5em 1.5em;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 15, 0, 0, 5);
}

.info-sidebar-header {
    -fx-alignment: center;
    -fx-padding: 2.5em 0 2.5em 0;
    -fx-spacing: 1.5em;
}

.nav-title {
    -fx-font-size: 4.5em;
}

.info-sidebar-body {
    -fx-background-color: transparent;
    -fx-spacing: 1em;
    -fx-padding: 0.5em 0 0 0;
}

.info-section {
    -fx-background-color: -fx-theme-foreground;
    -fx-background-radius: 1.5em;
    -fx-padding: 1.5em 2em 1.5em 2em;
    -fx-alignment: top-left;
    -fx-spacing: 0.375em;
}

.info-section-title {
    -fx-text-fill: white;
    -fx-font-size: 2em;
}

.info-section-value {
    -fx-text-fill: -fx-theme-accent;
    -fx-font-size: 2.5em;
    -fx-alignment: center;
    -fx-max-width: infinity;
}

.info-section-description {
    -fx-text-fill: -fx-theme-secondary;
    -fx-alignment: center;
    -fx-max-width: infinity;
}

.scroll-gradient {
    -fx-fill: linear-gradient(to top, -fx-theme-background 0%, transparent 100%);
}