.info-sidebar {
    -fx-background-color: -fx-theme-background;
    -fx-background-radius: 12px;
    -fx-padding: 30px 30px 30px 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 15, 0, 0, 5);
}

.info-sidebar-header {
    -fx-alignment: center;
    -fx-padding: 40px 0 40px 0;
    -fx-spacing: 25px;
}

.nav-title {
    -fx-font-size: 72;
}

.info-sidebar-body {
    -fx-background-color: transparent;
    -fx-spacing: 15px;
    -fx-padding: 0 10px 0 0;
}

.info-section {
    -fx-background-color: -fx-theme-foreground;
    -fx-background-radius: 25px;
    -fx-padding: 25px 30px 25px 30px;
    -fx-alignment: top-left;
    -fx-spacing: 7px;
}

.info-section-title {
    -fx-text-fill: white;
    -fx-font-size: 36px;
}

.info-section-value {
    -fx-text-fill: -fx-theme-accent;
    -fx-font-size: 48px;
    -fx-alignment: center;
    -fx-max-width: infinity;
}

.info-section-description {
    -fx-text-fill: -fx-theme-secondary;
    -fx-alignment: center;
    -fx-max-width: infinity;
}

.scroll-gradient {
    -fx-fill: linear-gradient(to top, #1e1e1e 0%, transparent 100%);
}