/* Global app style */
.root {
    -fx-font-family: 'Constantia';
    -fx-font-weight: bold;
    -fx-text-background-color: white;
    /* -fx-font-size is calculated in the app and used for all em values */

    -fx-theme-background: #1e1e1e;
    -fx-theme-foreground: #2a2a2a;
    -fx-theme-primary: #ffffff;
    -fx-theme-secondary: #aaaaaa;
    -fx-theme-accent: #a5d3e3;

}

.label {
    -fx-font-size: 1.5em;
}

/* Buttons */
/* Applies to any type of button */
.toggle-button, .button {
    -fx-background-color: transparent;
    -fx-background-radius: 1.5em;

    -fx-text-fill: white;
    -fx-font-size: 1.5em;

    -fx-padding: 0.5em 0.6em 0.5em 0.6em;

    -fx-cursor: hand;
}

.button:hover, .toggle-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.15);
}

.button:armed, .toggle-button:selected {
    -fx-background-color: rgba(115, 220, 255, 0.3);
}

.tooltip {
    -fx-font-family: "System";
    -fx-font-weight: normal;
    -fx-font-size: 0.75em;
}

/* Scroll bars and panes */
.scroll-pane,
.scroll-pane > .viewport,
.scroll-pane > .corner {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

/* Custom Scrollbar */
.scroll-pane .scroll-bar {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-radius: 0.2em;
}

.scroll-pane:hover .scroll-bar:vertical .thumb {
    -fx-background-color: #555555;
}

.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-padding: 0;
}

.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow {
    -fx-shape: " "; /* Erases the arrow shapes */
}
