/* Global app style */
.root {
    -fx-font-family: 'Constantia';
    -fx-font-weight: bold;
    -fx-text-background-color: white;
}

.info-window {
    -fx-background-color: #1e1e1e;
    -fx-background-radius: 12px;
    -fx-padding: 20px;
}

.nav-title {
    -fx-font-size: 72;
    -fx-padding: 10px 0px 30px 0px;
}

.nav-button {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-font-size: 24px;
    -fx-padding: 10px 10px 10px 10px;
}

.nav-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-cursor: hand;
}

.nav-button:selected {
    -fx-background-color: rgba(115, 220, 255, 0.3);
}

.markdown-view .markdown-h2 {
    -fx-font-size: 20px;
    -fx-padding: 8 0 4 0;
}

.markdown-view .markdown-text {
    -fx-font-size: 24px;
    -fx-fill: white;
}


/* Strip backgrounds and borders from ScrollPane and its internal viewport */
.scroll-pane, .scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

/* scroll bar styling */
.scroll-bar {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-bar:vertical .track,
.scroll-bar:horizontal .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
    -fx-background-color: #a0a0a0;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
}

.scroll-bar:vertical:hover .thumb,
.scroll-bar:horizontal:hover .thumb {
    -fx-background-color: #787878;
}

.scroll-bar:vertical:pressed .thumb,
.scroll-bar:horizontal:pressed .thumb {
    -fx-background-color: #555555;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
}
